$fon-light:#fefaee;
$fon-dark:#f3efe3;
$border: #2b5e7b;
$subtext: #66615b;
$title: #2d2e20;
$fon-section: #2c2b27;
$fon-section--light: #ffffff;
$text-section: #dfd8cc;
$decor-section: #709eba;
$decorAlt-section:#a47853;
$links: #9ca799;
$slider-control: rgba(0,0,0, 0.5);
$slider-control--hover: rgba(0,0,0, 0.7);
$slider-control--active: rgba(0,0,0, 0.9);