@import "mixins";
@import "global";

.header {
  //Общие черты адаптива
  background-color: $DifferentFon;
  .header__container {
    display: flex;
    width: 100%;
  }
  .header__links {
    & > * {
      color: $TextSubTitle;
      text-decoration: none;
      display: block;
      &:hover {
        color: $TextTitle;
      }
    }
  }
  .header__logo {
    width: max-content;
  }



  @include mobile {
    .header__links {
      width: 100%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      .header__delivery, .header__warranty {
        display: none;
      }
      .header__tel {
        order: 1;
        width: 100%;
      }
      .header__mail {
        order: 2;
        width: 100%;
      }
    }
  }

  @include tablet {
    .header__links {
      width: 100%;
      display: flex;
      margin-left: 10vw;
      flex-wrap: wrap;
      & > * {
        overflow: hidden;
        margin-bottom: 1vw;
        text-align: left;
        align-self: center;
        width: 50%;
      }
      .header__mail {
        order: 1;
      }
      .header__tel {
        order: 3;
      }
      .header__delivery {
        order: 2;
      }
      .header__warranty {
        order: 4;
      }
    }
  }

  @include laptop {
    .header__links {
      width: border-box;
      display: flex;
      margin-left: 20vw;
      & > * {
        overflow: hidden;
        align-self: center;
        width: max-content;
        margin: 0 1vw;
      }
      & > *:nth-child(3n) {
        margin-left: 10vw;
      }
    }
  }

  @include desktop {

    .header__links {
      width: 100%;
      display: flex;
      margin-left: 30vw;

      & > * {
        overflow: hidden;
        align-self: center;
        width: max-content;
        margin: 0 1vw;
      }
      & > *:nth-child(3n) {
        margin-left: 10vw;
      }
    }
  }

}